<div class="container">

    <div ng-controller="analyticsUserCtrl">
        <div class="row" >
            <div class="col-sm-3 col-lg-3">
                <div class="card" style="text-align: center">
                    <p>Date</p>
                    <p>All</p>
                </div>
            </div>
            <!--end button-->
            <div class="col-sm-3 col-lg-3">
                <div class="card" style="text-align: center">
                    <p>Total</p>
                    <p>{{allUser.total}}</p>
                </div>
            </div>
            <!--end button-->
            <div class="col-sm-3 col-lg-3">
                <div class="card" style="text-align: center">
                    <p>Employer</p>
                    <p>{{allUser.employer}}</p>
                </div>
            </div>
            <!--end button-->
            <div class="col-sm-3 col-lg-3">
                <div class="card" style="text-align: center">
                    <p>Jobseeker</p>
                    <p>{{allUser.jobseeker}}</p>
                </div>
            </div>
            <!--end button-->
        </div>
        <div class="row" >
            <div class="col-sm-3 col-lg-3">
                <div class="card" style="text-align: center">
                    <p>Date</p>
                    <p>{{today.dateEnd}}</p>
                </div>
            </div>
            <!--end button-->
            <div class="col-sm-3 col-lg-3">
                <div class="card" style="text-align: center">
                    <p>Total</p>
                    <p>{{today.total}}</p>
                </div>
            </div>
            <!--end button-->
            <div class="col-sm-3 col-lg-3">
                <div class="card" style="text-align: center">
                    <p>Employer</p>
                    <p>{{today.employer}}</p>
                </div>
            </div>
            <!--end button-->
            <div class="col-sm-3 col-lg-3">
                <div class="card" style="text-align: center">
                    <p>Jobseeker</p>
                    <p>{{today.jobseeker}}</p>
                </div>
            </div>
            <!--end button-->
        </div>
        <div class="card ng-scope">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="card-title">30 Days Ago</h4>
                        <br>
                        <div class="chart-wrapper" style="height:450px;margin-top:20px;">
                            <iframe class="chartjs-hidden-iframe" tabindex="-1"
                                    style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%;position: absolute; pointer-events: none; z-index: -1;"></iframe>
                            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
                                    chart-series="series" chart-options="options"
                                    chart-dataset-override="datasetOverride"
                                    chart-click="onClick">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- doughnut chart -->
    <!--<div class="row">-->
    <!--<div class="card col-sm-4 col-lg-4">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">Browsers</h4>-->
    <!--<p class="text-muted">Total</p>-->
    <!--<br>-->
    <!--<div class="chart-wrapper ng-scope" style="height:300px;margin-top:20px;" ng-controller="DoughnutCtrl">-->
    <!--<iframe class="chartjs-hidden-iframe" tabindex="-1"-->
    <!--style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>-->
    <!--<canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">-->
    <!--</canvas>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; <div class="card col-sm-4 col-lg-4">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">Browsers</h4>-->
    <!--<p class="text-muted">Total Employer</p>-->
    <!--<br>-->
    <!--<div class="chart-wrapper ng-scope" style="height:300px;margin-top:20px;" ng-controller="DoughnutCtrl">-->
    <!--<iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>-->
    <!--<canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">-->
    <!--</canvas>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="card col-sm-4 col-lg-4">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">Browsers</h4>-->
    <!--<p class="text-muted">Total Jobseeker</p>-->
    <!--<br>-->
    <!--<div class="chart-wrapper ng-scope" style="height:300px;margin-top:20px;" ng-controller="DoughnutCtrl">-->
    <!--<iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>-->
    <!--<canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">-->
    <!--</canvas>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->
    <!--</div>-->
    <!--  -->

    <div class="row" ng-controller="adminLogCtrl">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    Log
                </div>
                <div class="card-block">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>At</th>
                            <th>Username</th>
                            <th>Action</th>
                            <th>Data</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="card in log">

                            <td>{{card.createdAt | date: 'HH:mm dd/MM/yyyy'}}</td>
                            <td>{{card.name || card.storeName}} <br> {{card.userId}}</td>
                            <td>{{card.action}}</td>
                            <td>{{card.data}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <paging
                            page="page"
                            ng-click="pagin(page)"
                            page-size="response.per_page"
                            total="response.total"
                            show-prev-next="true"
                            show-first-last="true">
                    </paging>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <div class="row" ng-controller="userActivityAdminCtrl">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    User Activity
                </div>
                <div class="card-block">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>At</th>
                            <th>Type</th>
                            <th>Store</th>
                            <th>User</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="card in log">

                            <td>
                                <span ng-if="card.createdAt">createdAt:{{card.createdAt | date: 'HH:mm dd/MM/yyyy'}}</span><br>
                                <span ng-if="card.likeAt">likeAt:{{card.likeAt | date: 'HH:mm dd/MM/yyyy'}}</span><br>
                                <span ng-if="card.matchedAt">matchedAt:{{card.matchedAt | date: 'HH:mm dd/MM/yyyy'}}</span>
                            </td>
                            <td>{{card.type}}</td>
                            <td>{{card.storeName}}<br><a href="{{CONFIG.WEBURL + 'view/store/'+ card.storeId}}">{{card.storeId}}</a>
                            </td>
                            <td>{{card.userName}}<br><a href="{{CONFIG.WEBURL + 'view/store/'+ card.storeId}}">{{card.userId}}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <paging
                            page="page"
                            ng-click="pagin(page)"
                            page-size="response.per_page"
                            total="response.total"
                            show-prev-next="true"
                            show-first-last="true">
                    </paging>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <div class="row" ng-controller="jobAdminCtrl">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    job
                </div>
                <div class="card-block">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>At</th>
                            <th>Job</th>
                            <th>store</th>
                            <th>working_type</th>
                            <th>data</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="card in log">

                            <td>{{card.createdAt | date: 'HH:mm dd/MM/yyyy'}}</td>
                            <td>{{card.job}}</td>
                            <td>{{card.storeName}}<br>{{card.storeId}}</td>
                            <td>{{card.working_type}}</td>
                            <td>{{card}}</td>

                        </tr>
                        </tbody>
                    </table>
                    <paging
                            page="page"
                            ng-click="pagin(page)"
                            page-size="response.per_page"
                            total="response.total"
                            show-prev-next="true"
                            show-first-last="true">
                    </paging>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <div class="row" ng-controller="profileAdminCtrl">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    Profile
                </div>
                <div class="card-block">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>At</th>
                            <th>Avatar</th>
                            <th>Name</th>
                            <th>address</th>
                            <th>industry</th>
                            <th>job</th>
                            <th>working_type</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="card in log">

                            <td>
                                {{card.createdAt | date: 'HH:mm dd/MM/yyyy'}}
                            </td>
                            <td><img src="{{card.avatar}} " width="100px"></td>
                            <td>{{card.name}}<br>{{card.userId}}</td>
                            <td>{{card.address}}</td>
                            <td>{{card.industry}}</td>
                            <td>{{card.job}}</td>
                            <td>{{card.working_type}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <paging
                            page="page"
                            ng-click="pagin(page)"
                            page-size="response.per_page"
                            total="response.total"
                            show-prev-next="true"
                            show-first-last="true">
                    </paging>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <div class="row" ng-controller="UserRegisterAdminCtrl">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    UserRegister
                </div>
                <div class="card-block">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>At</th>
                            <th>type</th>
                            <th>userId</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>VerifyEmail</th>
                            <th>mobileToken</th>
                            <th>webToken</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="card in log">

                            <td>
                                {{card.createdAt | date: 'HH:mm dd/MM/yyyy'}}
                            </td>
                            <td>{{card.type}}</td>
                            <td>{{card.name}}<br>{{card.userId}}</td>
                            <td>{{card.email}}</td>
                            <td>{{card.phone}}</td>
                            <td>{{card.VerifyEmail}}</td>
                            <td><span ng-if="card.mobileToken">true</span></td>
                            <td><span ng-if="card.webToken">true</span></td>
                        </tr>
                        </tbody>
                    </table>
                    <paging
                            page="page"
                            ng-click="pagin(page)"
                            page-size="response.per_page"
                            total="response.total"
                            show-prev-next="true"
                            show-first-last="true">
                    </paging>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>