<div class="padding">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Scheduled Job
                </div>

                <div class="card-block">
                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label>poster </label>
                            <div class="input-group mb-1">
                                <input class="form-control"
                                       ng-model="newfilter.poster">
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label>to(groupId) </label>
                            <div class="input-group mb-1">
                                <input class="form-control"
                                       ng-model="newfilter.to">
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label>jobId </label>
                            <div class="input-group mb-1">
                                <input class="form-control"
                                       ng-model="newfilter.jobId">
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label>id</label>
                            <label class="switch switch-default switch-pill switch-primary"
                                   style="float: right">
                                <input type="checkbox" class="switch-input"
                                       ng-model="newfilter.id">
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label><br>

                        </fieldset>
                        <fieldset class="form-group">
                            <label>still_alive</label>
                            <label class="switch switch-default switch-pill switch-primary"
                                   style="float: right">
                                <input type="checkbox" class="switch-input"
                                       ng-model="newfilter.still_alive">
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label><br>

                        </fieldset>
                        <fieldset class="form-group">
                            <label>schedule</label>
                            <label class="switch switch-default switch-pill switch-primary"
                                   style="float: right">
                                <input type="checkbox" class="switch-input"
                                       ng-model="newfilter.schedule">
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label><br>

                        </fieldset>

                    </div>
                    <button type="button" class="btn btn-primary" ng-click="pagingSchedules(newfilter)">
                        Tiến
                        hành
                        lọc
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deletePost(newfilter)">
                        Xoá Post
                    </button>
                    <div class="card-block p-0 clearfix">
                        <div class="h5 mb-0 pt-3 text-center">{{response.total}}
                        </div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs text-center">Number</div>
                    </div>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Content</th>
                            <th>Sent</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in schedules track by $index">
                            <td>
                                <b>postId:</b> {{item.postId}}<br>
                                <b>poster:</b> {{item.poster}}<br>
                                <b>time:</b> {{item.time | date: 'HH giờ mm dd/MM/yyyy'}}<br>
                                <b>groupId:</b>
                                <a href="https://www.facebook.com/groups/{{item.to}}">{{item.to}}</a>

                            </td>
                            <td>{{item.content.text}}<br> Image: {{item.content.image}}</td>
                            <td>{{item.sent | date: 'HH giờ mm dd/MM/yyyy'}} <br>
                                <a href="{{service.generateLink(item.id)}}">{{item.id}}</a> <br>
                                {{item.sent_error}}<br>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <paging page="page" ng-click="pagin(page)" page-size="response.per_page" total="response.total"
                            show-prev-next="true" show-first-last="true">
                    </paging>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Báo cáo
                </div>
                <button type="button" class="btn btn-primary" ng-click="getReport(newfilter)">
                   Lấy báo cáo
                </button>

                <div class="card-block">
                    <div>
                        <p>Tổng bài đăng: {{length}}</p>
                        <p>Bài đã đăng: {{posted}}</p>
                        <p>Còn sống: {{alive}} ({{alive/posted*100}} %)</p>
                        <p>Thống kê theo giờ:</p>
                    </div>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Giờ</th>
                            <th>Bài đăng</th>
                            <th>Comment</th>
                            <th style="color: #0687FF">Like</th>
                            <th style="color: #f00">Love</th>
                            <th style="color:#030">Haha</th>
                            <th style="color:#3FF81B">Sad</th>
                            <th style="color:#FF6600">Angry</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in godTimes track by $index">
                            <td>{{$index}} giờ</td>
                            <td>{{item.post}}</td>
                            <td>{{item.comments}}</td>
                            <td style="color: #0687FF">{{item.reactions.like}}</td>
                            <td style="color: #f00">{{item.reactions.love}}</td>
                            <td style="color:#030">{{item.reactions.haha}}</td>
                            <td style="color:#3FF81B">{{item.reactions.sad}}</td>
                            <td style="color:#FF6600">{{item.reactions.angry}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Post Group
                </div>
               </button>

                <div class="card-block">
                    <form action="" method="post" enctype="multipart/form-data"
                          class="form-horizontal ng-pristine ng-valid">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="select">Poster</label>
                            <div class="col-md-9">
                                <select id="select" name="select" class="form-control form-control-sm" ng-model="content.poster">
                                    <option ng-repeat="card in CONFIG.facebookAccount" value="{{card.key}}">{{card.key}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="multiple-select">groupData</label>
                            <div class="col-md-9">
                                <select id="multiple-select" name="multiple-select" class="form-control" size="5" multiple="" ng-model="content.groupId">
                                    <option ng-repeat="card in CONFIG.groupData" value="{{card.groupId}}">{{card.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Link image</label>
                            <div class="col-md-9">
                                <input type="text" ng-model="content.image" name="text-input" class="form-control"
                                       placeholder="Text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Text</label>
                            <div class="col-md-9">
                                   <textarea class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                             ng-model="content.text"
                                             style="height: 100px;"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Job</label>
                            <div class="col-md-9">
                                <input type="text" ng-model="content.job" name="text-input" class="form-control"
                                       placeholder="server,sale,business">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Where</label>
                            <div class="col-md-9">
                                <input type="text" ng-model="content.where" name="text-input" class="form-control"
                                       placeholder="hn,hcm,vn">
                            </div>
                        </div>


                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-click="service.PostFacebook(content)"><i
                            class="fa fa-dot-circle-o"></i> Submit
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>