<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Gửi mail
            </div>

            <div class="card-block">
                <form action="" method="post" enctype="multipart/form-data"
                      class="form-horizontal ng-pristine ng-valid">

                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Title</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="mail.title" name="text-input" class="form-control"
                                   placeholder="Text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Body</label>
                        <div class="col-md-9">
                                   <textarea class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                             ng-model="mail.body" placeholder="Tóm tắt nội dung"
                                             style="height: 100px;"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">From Name</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="mail.name" name="text-input"
                                   class="form-control"
                                   placeholder="Text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">from Email</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="mail.address" name="text-input" class="form-control"
                                   placeholder="Text">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Body</label>
                        <div class="col-md-9">
                            <textarea froala class="form-control ng-pristine ng-valid ng-empty ng-touched"
                                      ng-model="mail.description1" rows="100"
                                      style="height: 100px;"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Link image</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="mail.image" name="text-input" class="form-control"
                                   placeholder="Text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Call to action</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="mail.calltoaction" name="text-input"
                                   class="form-control"
                                   placeholder="Text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Link to action</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="mail.linktoaction" name="text-input"
                                   class="form-control"
                                   placeholder="Text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Gửi kèm danh sách</label>
                        <div class="col-md-9">
                            <label class="switch switch-3d switch-primary">
                                <input ng-model="mail.profileList" type="checkbox"
                                       class="switch-input" checked="">
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>


                </form>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-sm btn-primary"
                        ng-click="service.sendEmail(newfilter, mail)"><i
                        class="fa fa-dot-circle-o"></i> Submit
                </button>

            </div>
        </div>
    </div>
</div>

