<div class="app flex-row align-items-center animated fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-2" ng-show="preApply">
                    <div class="message p-h">

                        <div class="py-h mr-1 float-left">
                            <div class="avatar">
                                <img src="{{jobData.storeData.avatar}}" class="img-avatar">

                            </div>
                        </div>

                        <div >{{jobData.jobName}}
                            <strong>{{jobData.storeData.storeName}}</strong>
                        </div>
                        <small class="text-muted mr-1"><i class="icon-calendar"></i>&nbsp;
                            {{Lang[jobData.working_type]}}
                        </small>
                        <small class="text-muted"><i class="icon-location-pin"></i>&nbsp;
                            {{service.shortAddress(jobData.storeData.address)}} {{jobData.distance ? '- '+card.distance +'
                            km':''}}
                        </small>

                    </div>
                    <div class="row animated fadeIn" style="margin-bottom: 30px;padding: 0 30px">

                        <div class="col-md-12">

                            <div class="job-description">
                                <div>
                                    <div ng-if="jobData.work_time">• Ca làm
                                        <ul>
                                            <li ng-repeat="work in jobData.work_time">{{work.start}} -
                                                {{work.end}}
                                            </li>
                                        </ul>
                                    </div>
                                    <p ng-if="jobData.job">• Ngành nghề: {{Lang[jobData.job]}}

                                    <p ng-if="jobData.salary">• Mức lương theo tháng: {{jobData.salary}} triệu
                                        đồng/tháng </p>
                                    <p ng-if="jobData.hourly_wages">• Mức lương theo giờ: {{jobData.hourly_wages}}
                                        nghìn đồng/giờ </p>
                                    <p ng-if="jobData.deadline">• Hạn chót: {{jobData.deadline |
                                        date}}({{service.timeAgo(jobData.deadline)}}) </p>
                                    <p ng-if="jobData.createdAt">• Ngày đăng: {{jobData.createdAt | date}}</p>

                                    <p ng-if="jobData.unit">• Số lượng: {{jobData.unit}}</p>
                                    <p ng-if="jobData.apply">• Đã ứng tuyển: {{jobData.apply.length}}</p>
                                    <div class="avatars-stack mt-2" ng-if="jobData.apply">
                                        <div class="avatar avatar-xs" ng-repeat="people in jobData.apply">
                                            <img src="{{people.userAvatar}}" class="img-avatar"
                                                 ui-sref="app.viewprofile ({id: people.userId})">
                                        </div>
                                    </div>
                                    <p ng-if="jobData.viewed">• Lượt xem: {{jobData.viewed ? card.viewed :
                                        "0"}}</p>

                                    <p ng-if="jobData.figure || jobData.experience || jobData.languages"><em>Yêu
                                        cầu
                                        khác:</em></p>
                                    <p ng-if="jobData.figure">• Yêu cầu ngoại hình khá</p>
                                    <p ng-if="jobData.sex">• Giới tính: {{Lang[jobData.sex]}}</p>

                                    <p ng-if="jobData.experience">• Đã có kinh nghiệm</p>
                                    <p ng-if="jobData.languages">• Ngoại ngữ:{{Lang[card.languages]}}</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="job-description" ng-if="jobData.description">
                                <div>
                                    <p
                                            ng-repeat="text in service.nextLine(jobData.description) track by $index">
                                        {{text}}</p>


                                </div>
                            </div>

                        </div>

                    </div>
                    <hr class="mx-1 my-0">
                </div>

                <div class="card mx-2">
                    <div class="card-block p-2 header-signup">
                        <h1>Đăng ký</h1>

                        <p class="text-muted" ng-if="type == 1">Tạo tài khoản nhà tuyển dụng</p>
                        <p class="text-muted" ng-if="type == 2">Tạo tài khoản ứng viên</p>
                        <button class="button btn btn-facebook btn-block" ng-click="facebookLogin(type)">
                            Kết nối bằng Facebook
                        </button>
                        <hr class="mx-1" >
                        <form name="signupForm" ng-submit="doSignup(userSignup)" autocomplete="off">
                            <div class="input-group mb-1" ng-if="type == 1">
                                <span class="input-group-addon">S</span>
                                <input name="storeName" class="form-control" placeholder="Tên thương hiệu"
                                       ng-model="userSignup.storeName" required>
                            </div>
                            <div class="input-group mb-1" ng-class="{ 'has-danger' : signupForm.email.$invalid && !signupForm.email.$pristine , 'has-success' : signupForm.email.$valid }">                                <span class="input-group-addon">@</span>
                                <input type="email" name="email" class="form-control" placeholder="Đăng ký bằng Email" id="email"
                                       ng-model="userSignup.username" required>
                                <i class="fa fa-check fa-2x" style="color: #00ff00" ng-show="signupForm.email.$valid"></i>
                            </div>


                            <button ng-disabled="!userSignup.username" type="submit" class="btn btn-block btn-primary main-backgroud">Đăng ký</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

